// colors
@primary: #002B56;

@brightGreen: #00E8A4;
@brightRed: #FF3548;

@black: #000000;
@gray1: #333333;
@gray2: #666666;
@gray3: #757575;
@gray4: #969696;
@gray5: #C8C8C8;
@gray6: #D8D8D8;
@gray7: #E6E6E6;
@white: #ffffff;

// fonts
@primaryFont: Helvetica Neue;

// responsiveness
@largeView: 1440px;
@mediumView: 1280px;
@smallView: 768px;

.responsive(@maxWidth; @rules) {
  @media only screen and (max-width: @maxWidth) {
    @rules();
  }
}

// shapes
.circle(@diameter) {
  display: inline-block;
  width: @diameter;
  height: @diameter;
  border-radius: 50%;
}

.checkmark(@size, @color) {
  @borderWidth: @size / 4;
  width: @size;
  height: @size / 2;
  border-style: solid;
  border-color: @color;
  border-width: 0 0 @borderWidth @borderWidth;
  margin-top: -(@size / 2.66);
  transform: rotate(-45deg);
}

.carrot(@size, @color) {
  @borderWidth: @size / 4;
  width: @size;
  height: @size;
  border-style: solid;
  border-color: @color;
  border-width: 0 0 @borderWidth @borderWidth;
}
