// colors
@primary: #002B56;

@brightGreen: #00E8A4;
@brightRed: #FF3548;

@black: #000000;
@gray1: #333333;
@gray2: #666666;
@gray3: #969696;
@gray4: #C8C8C8;
@gray5: #D8D8D8;
@gray6: #E6E6E6;
@white: #ffffff;

// fonts
@primaryFont: Helvetica Neue;

// responsiveness
@largeView: 1440px;
@smallView: 480px;

.responsive(@maxWidth; @rules) {
  @media only screen and (max-width: @maxWidth) {
    @rules();
  }
}
