@import '../../../styles/global.less';

.radio-button {
  margin: 1px 8px 0 0;
  border: 1px solid @gray5;
  position: relative;
  .circle(16px);

  &.active:before {
    content: '';
    background: @primary;
    margin: 4px;
    position: absolute;
    .circle(8px);
  }
}
