@import '../../styles/global.less';

.restaurant-details .row .row-content {
  > .title {
    margin-bottom: 16px;
    font-size: 54px;
    line-height: 64px;
    max-width: 748px;
  }

  .details {
    display: flex;
    justify-content: space-between;
    margin: 23px 0 45px;
  }

  .category-price,
  .is-open {
    display: inline-block;
    font-size: 22px;
    font-weight: normal;
    height: 29px;
    line-height: 32px;
    color: @gray2;
  }

  .is-open {
    padding-left: 30px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      background: @brightGreen;
      .circle(22px);

      &.closed {
        background: @brightRed;
      }
    }
  }

  .location {
    display: flex;
    justify-content: space-between;

    > * {
      flex-grow: 1;
      margin-top: 48px;
      margin-bottom: 15px;
      height: 228px;
    }

    .map {
      background-color: @gray6;
      margin-right: 2%;
      display: flex;
      justify-content: center;

      .map-placeholder {
        margin-top: 50px;
        .pin(50px, @gray3);
      }
    }

    .images {
      display: flex;
      margin-right: 0;

      .pic {
        flex-grow: 1;
        margin-right: 4%;
        background-position: center;
        background-size: cover;
        background-color: @gray6;

        &:last-child {
          margin-right: 0;
        }
      }

      .spinner {
        margin: 60px auto;
      }
    }
  }

  .address {
    height: 28px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 48px;
    color: @black;
  }

  .total-reviews {
    height: 32px;
    font-size: 22px;
    line-height: 32px;
    color: @gray2;
    margin-top: 48px;
  }
}
